/*******************
********************
Front-end part******
********************
Designed & developed by     :: Md. Mashud Rana
Github Link                 :: https://github.com/mashudranagithub
Personal Website Link       :: http://mashudrana.com/
Facebook Profile Link       :: https://www.facebook.com/mashudranabitm
*******************
*******************/


/***************  Common Styles Start  ***************/

body {
    margin: 0;
    padding: 0;
}

a,
a:hover {
    text-decoration: none;
    font-family: 'Viga', sans-serif;
}

p {
    margin-bottom: 0px;
font-family: 'Roboto', sans-serif;
}

ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

ul li {
    margin: 0;
    padding: 0;
    display: inline-block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    font-family: 'Pridi', serif;
}


/*go to top button*/

.go-top {
    position: fixed;
    right: 5%;
    bottom: 10%;
    cursor: pointer;
    background: #399;
    width: 40px;
    height: 40px;
    color: #fff;
    font-weight: bold;
    line-height: 40px;
    text-align: center;
    border-radius: 5px;
    display: none;
}


/***************  Common Styles End  ***************/


/************************** Header Section Start **************************/

/*header-top start*/

#Header .header-top {
    background: #22313F;
    min-height: 40px;
}


/*social-menu*/

.social-menu li,
.reg-log-btns li {
    line-height: 40px;
}

.social-menu li a,
.reg-log-btns li a{
    font-size: 16px;
    color: rgba(45, 249, 23, 0.8);
    padding: 10px;
}

.social-menu li a:hover,
.reg-log-btns li a:hover{
    color: #fff;
}

/*
.reg-log-btns {}

.reg-log-btns li {}

.reg-log-btns li a {}

.reg-log-btns li a:hover {}
*/


/*header-top end*/


/*header-main start*/
.info-box{
    font-family: 'Roboto', sans-serif;
}

.info-box h5{
    padding-bottom: 5px;
}

.info-box h5 i{
    color: #5dce5c;
    font-size: 20px;
    padding-right: 15px;
}

.info-box h5 span{
    font-family: 'Roboto', sans-serif;
    font-weight:400;
}

.info-box p{
    font-size: 15px;
}




.box-padding{
    padding-left: 40px;
}



/*header-main end*/


/*header-bottom start*/

.header-bottom {
    background: #4CB051;
}

.header-bottom .container {
    padding-right: 0px;
    padding-left: 0px;
}

a.nav-link {
    color: #fff!important;
    padding:15px 10px;!important;
    font-size: 16px;
    text-transform: uppercase;
}

a.nav-link:hover {
    color: #333!important;
}

nav.navbar.navbar-expand-lg.navbar-light {
    padding: 0px;
}

.nav-link i.fa.fa-angle-down {
    padding-left: 5px;
}

button.btn.btn-outline-success.my-2.my-sm-0 {
    background: #1c7500;
    color: #fff;
    font-family: 'Viga', sans-serif;
    cursor: pointer;
    border: 1px solid #fff;
    box-sizing: border-box;
}


button.btn.btn-outline-success.my-2.my-sm-0:hover {
    background: black;
}


/*Mega Menu*/

.mega-menu {
    position: absolute;
    top: 200%;
    left: 0px;
    right: 0px;
    background: rgba(2, 2, 2, 0.5);
    opacity: 0;
    z-index: 0;
    padding: 5px 35px;
    transition: all 1s;
    border: 2px solid #4CB051;
    box-sizing: border-box;
    border-radius:0px 0px 10px 10px;
    border-top:none;
}

.mega:hover .mega-menu {
    opacity: 1;
    z-index: 1000;
    top:100%;
}

.mega-menu ul li {
    display: block;
    transition:all 1s;
}

.single-continent h3 {
    color: #fff;
    font-family: 'Rajdhani', sans-serif;
    padding: 5px;
    border-bottom: 4px solid #4CB051;
    border-radius: 10px;
    display: inline-block;
}

.single-continent ul{
    padding-top: 15px;
    padding-bottom: 5px;
}


.single-continent ul li{
    
}


.single-continent ul li a{
    color:#fff;
    padding:3px;
    display: inline-block;
    font-size: 16px;
    transition: .5s;
    text-transform: uppercase;
}

.single-continent ul li a:hover{
    color:#4CB051;
    transform: scale(1.3);
}

.single-continent a{
    color: #44ED0E;
    font-size: 18px;
    padding: 5px;
    display: inline-block;
    transition: all .7s;
}

.single-continent a:hover{
    color: #399;
}









/*header-bottom End*/

.logo img {
    width: 50%;
    height: 100px;
}




/************************** Header Section End **************************/


/************************** Slider Section Start **************************/


/************************** Slider Section End **************************/


/************************** Services Section Start **************************/


/*Services*/

#Services .border,
#About-us .border,
#Faq-section .border,
#Student-comments .border {
    width: 100px;
    display: block;
    height: 7px;
    background: #17d452;
    margin: 20px auto;
}


/************************** Services Section End **************************/


/************************** About-us Section Start **************************/


/*About-us*/

.ceoimage-bg {
    background: url(../images/ceo.jpg) no-repeat;
    width: 100%;
    min-height: 350px;
}

.ceoimage-bg h4 {
    line-height: 350px;
    text-align: center;
    display: none;
    background: rgba(0, 0, 0, 0.4);
    font-size: 35px;
}

.ceoimage-bg h4 a {
    color: #fff;
    text-transform: uppercase;
}

.ceoimage-bg:hover h4 {
    display: block;
}


/************************** About-us Section End **************************/


/************************** Faq Section Start **************************/


/*Faq*/

#faq {
    background-color: rgb(245, 245, 245);
}

.card-header h4.panel-title a i.fa {
    float: right;
    font-size: 150%;
    line-height: 15px;
    display: none;
}

.card-header h4.panel-title a[aria-expanded=true] i.fa.fa-angle-up {
    display: block;
}

.card-header h4.panel-title a[aria-expanded=false] i.fa.fa-angle-down {
    display: block;
}


/************************** Faq Section End **************************/


/************************** Student-comments Section Start **************************/


/*Student- Comments*/

.student-image img {
    width: 100%;
}


/************************** Student-comments Section End **************************/


/************************** Map-contact Section Start **************************/


/*Contact*/

section#Map-contact .container-fluid .row {
    background: url(../images/chalmars-university-rahim.jpg);
}


/************************** Map-contact Section End **************************/


/************************** Footer Section Start **************************/


/*footer*/

#Footer,
#Footer a {
    color: #fff;
}

.facebook-image img {
    width: 100%;
    height: auto;
}

.footer-top {
    background: #000;
}

.footer-bottom {
    background: #333;
}


/************************** Footer Section End **************************/



/************************** Map-contact Section Start **************************/


/*


/************************** Registration Section Start **************************/

#Registration{
    padding:50px 0px;
}




/************************** Registration Section End **************************/
*/


}


/************************** Map-contact Section End **************************/
