body{
    margin:0;
    padding:0;
}

a,
a:hover{
    text-decoration: none;
}

ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
}

ul li{
    margin:0;
    padding:0;
    display: inline-block;
}

h1,
h2,
h3,
h4,
h5,
h6{
    margin:0;
    padding:0;
}















/*Mega Menu*/

.mega-menu {
    position: absolute;
    top: 93%;
    left: 15px;
    right: 15px;
    background: #ddd;
    display: none;
    z-index: 1000;
}

.mega:hover .mega-menu{
    display: block;
}

.mega-menu ul li{
    display: block;
}


/*go to top button*/
.go-top{
    position: fixed;
    right: 5%;
    bottom: 10%;
    cursor: pointer;
    background: #399;
    width: 40px;
    height: 40px;
    color: #fff;
    font-weight: bold;
    line-height: 40px;
    text-align: center;
    border-radius: 5px;
    display: none;
}



/*Contact*/

footer#Footer .container-fluid .row {
    background: url(../images/chalmars-university-rahim.jpg);
}

/*Student- Comments*/

.student-image img {
    width: 100%;
}

/*Services*/

#Services .border,
#About-us .border,
#Faq-section .border{
    width: 100px;
    display: block;
    height: 7px;
    background: #17d452;
    margin: 20px auto;
}



/*Faq*/

#faq {
	background-color: rgb(245, 245, 245);
}

.card-header h4.panel-title a i.fa {
	float: right;
	font-size: 150%;
	line-height: 15px;
	display: none;
}

.card-header h4.panel-title a[aria-expanded=true] i.fa.fa-angle-up {
	display: block;
}

.card-header h4.panel-title a[aria-expanded=false] i.fa.fa-angle-down {
	display: block;
}


/*End Faq*/


/*About-us*/

.ceoimage-bg{
    background: url(../images/ceo.jpg) no-repeat;
    width: 100%;
    min-height: 350px;
}

.ceoimage-bg h4{
    line-height: 350px;
    text-align: center;
    display: none;
    background: rgba(0, 0, 0, 0.4);
    font-size: 35px;
}

.ceoimage-bg h4 a{

    color: #fff;
    text-transform: uppercase;
}

.ceoimage-bg:hover h4{
    display: block;
}
